/* Global */
* {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

li {
  list-style: none;
}

body {
  background: #edece8 url(../img/bg-head.jpg) center top no-repeat;
}

.page {
  width: 970px;
  margin: 0 auto;
}


/* Header */
header {
  height: 250px;
}

header h2 {
  margin-top: 10px;
  font: normal 24px "Century Gothic";
  float: left;
  color: #3f282f;

}

header a {
  margin: 20px 10px 0 0;
  font: normal 26px "Century Gothic";
  float: right;
  color: #716b5b;
  text-decoration: none;
}

header a span {
  color: #a73700;
}
/* Header конец */


main {
  background: #f7f7f7;
  border: 1px solid #fff;
  overflow: hidden; 
  border-radius: 15px;
}


/* Menu */
.menu ul {
  overflow: hidden;
  background: #3f282f;
  border-radius: 15px 15px 0 0;
}

.menu li {
  padding: 15px 35px;
  float: left;
  background: url(../img/menu-bg.jpg) left center no-repeat;
}

.menu li:first-child {
  padding: 15px 35px;
  float: left;
  background: none;
}

.menu li a {
  font: 18px "Century Gothic";
  color: #fff; 
  text-decoration: none;
}

.menu li a:hover {
  font: 18px "Century Gothic";
  color: #fff;
  text-decoration: underline;
}

.search-main {
  margin: 0 25px 0 0;
  position: relative;
  top: -10px;
  right: -150px;
}

.serch-txt {
  margin: 0 10px 0 0;
  width: 230px;
  height: 23px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.serch-btn {
  position:relative;
  top:11px;
}
/* Menu конец */


/* Slider */
#slider {
  margin: 15px auto 25px;
  width: 927px;
  height: 266px;
  background: #b5b5b5;
  border: 1px solid #3f282f;
  overflow: hidden;
  position: relative;
}

#cyclePager {
  height: 18px;
  position: absolute;
  overflow: hidden;
  right: 20px;
  bottom: 20px;
  z-index: 99;
}

#cyclePager a {
  display: block;
  margin-left: 10px;
  width: 17px;
  height: 17px;
  background: transparent url(../img/pager-gal.png) 0 0 no-repeat;
  text-indent: -9999px;
  float: left;
}

#cyclePager a:hover,
#cyclePager a.activeSlide {
  background-position: -17px 0;
}
/* Slider конец */


/* Content */
.content {
  margin: 0 0 0 20px;
  width: 700px;
  float: left;
}

.post-main {
  margin: 0 0 20px 0;
  background: #f5f5f5;
  border: 1px solid #e7e2e3;
  border-radius: 8px;
}

.imgstyle {
  margin: 0 15px 15px 0;
  float: left;
}

.post-main h1 {
  margin: 0 0 5px 0;
  padding: 5px 0 8px 15px;
  background: #e2e0e1;
  font: normal 24px Verdana;
  color: #3f282f;
  border-radius: 8px 8px 0 0;
}

.post-main h1 a {
  font: normal 24px Verdana;
  color: #3f282f;
  text-decoration: none;
}

.post-main h1 a:hover {
  font: normal 24px Verdana;
  color: #3f282f;
  text-decoration: underline;
}

.post-main h1 span {
  font: normal 12px Verdana;
  color: #b8a6ab;
}

.post {
  margin: 0 15px 15px;
}

.post p {
  margin: 0 0 15px;
  font:12px Verdana;
}

.post a {
  color:#3f282f;
  text-decoration:underline;
}

.post a:hover {
  color: #3f282f;
  text-decoration: none;
}
/* Content конец*/


/* Sidebar */
.sidebar {
  margin: 0 0 0 20px;
  width: 207px;
  float: left;
}

.vidget {
  margin: 0 0 20px 0;
  background: #e7e2e3;
  border: 1px solid #d7d3d4;
  border-radius: 8px;
}

.vidget h2 {
  padding: 5px 0;
  background: #3f282f;
  color: #fff;
  font: 18px "Century Gothic";
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.vidget ul {
  padding: 25px 15px;
}

.vidget ul li {
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid #c8bbbd;
  border-top: 1px solid #fff;
}

.vidget ul li:first-child {
  border-top: none;
}

.vidget ul li:last-child {
  border-bottom:none;
}

.vidget ul li a {
  color:#000;
  font:14px "Century Gothic";
}

.vidget ul li a:hover {
  color: #000;
  font: 14px "Century Gothic";
  text-decoration: none;
}
/* Sidebar конец */


/* Footer */
footer {
  padding: 30px 25px;
  overflow: hidden;
}

.copy {
  float: left;
}

.copy a {
  margin: 20px 10px 0 0;
  font: normal 26px "Century Gothic";
  color: #716b5b;
  text-decoration: none;
}

.copy a span {
  color: #a73700;
}

.copy p {
  margin: 10px 0 0 0;
  font: 14px verdana;
  color: #000;
  line-height: 1.1;
}

.menu-foot {
  margin: 0 0 0 175px;
  float: left;
}

.menu-foot h2 {
  font: normal 24px "Century Gothic";
  color: #3f282f;
}

.menu-foot ul li a {
  font: 14px "Century Gothic";
  color: #000;
}

.menu-foot ul li a:hover {
  font: 14px "Century Gothic";
  color: #000;
  text-decoration: none;
}

.copyright {
  padding-top: 10px;
  clear: both;
  text-align: center;
}

.copyright a {
  margin: 0;
  font: normal 14px "Century Gothic"; 
  color: #716b5b; 
  text-decoration: none; 
}

.copyright a:hover {
  text-decoration: underline;
}
/* Footer конец */